body {
    background: darkslategray;
    height: 100vh;
}

.layoutTop {
    display: inline-block;
}

#pagetop {
    border: 3px darkslategray;
    padding: 10px;
    width: auto;
    height: 30px;
    background: darkolivegreen;
}

#mainPage {
    background: darkseagreen;
    border: 3px darkslategray;
    padding: 20px;
    height: 100%;
}

#info {
    text-align: center;
    width: 50%;
    height: 100%;
    background: khaki;
    position: absolute;
    top: 58px;
    left: 25%;
}

#auth {
    position: relative;
    float: right;
    display: none;
}

#profile {
    position: relative;
    float: right;
    display: none;
}